{% if site.data.profile.experience %}
  <p class="title">{{ site.theme_settings.experience_title }}</p>
  <ul class="exper-list">
    {% for exp in site.data.profile.experience %}
    <li class="meta">
      <p class="date">{{ exp.start }} &ndash; {{ exp.end }}</p>
      <p class="description">{{ exp.experience | markdownify }}</p>
    </li>
    {% endfor %}
    <li class="meta" id="download">
      <p class="description"><blockquote>
        <a href="{{ site.data.profile.social.cv }}" target="_blank">Download Full CV</a>
      </blockquote></p>
    </li>
  </ul>
{% endif %}